@mixin button{
  font-family: $montserrat;
  border: 1px solid $light-grey;
  border-radius: 200px;
  color: $light-grey;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.0625rem;
  margin-top: 35px;
  transition-duration: 0.4s;
  &:hover {
    background-color: $dark-grey;
     /* background: rgba(120,129,138,.8); */
  }
}
@mixin heading{
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
  h2{
    text-transform: uppercase;
    font-size: 1.625rem;
    font-weight: 900;
    letter-spacing: -0.025px;
    color: $text-grey;
    margin: 0;
  }
  p{
    font-size: 0.875rem;
    line-height: 1.875;
    font-weight: 400;
    color: $text-grey;
    padding-top: 15px;
    margin: 0;
  }
  &:after{
    content: "";
    display: block;
    width: 40px;
    border-bottom: 2px solid $after-grey;
    margin: 0 auto ;
    padding-bottom: 15px;
  }
}
@mixin pricing-heading {
  width: 100%;
  border-bottom: 1px solid $pricing-border;
  padding: 30px 0;
  margin: 0 auto;
  h3 {
    font-family: $montserrat;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: capitalize;
    color: $pricing-header;
    margin: 0;
  }
  .price {
    font-family: $montserrat;
    font-size: 2.8125rem;
    font-weight: 400;
    color: $pricing-header;
    margin: 0;
  }
  span {
    font-family: $montserrat;
    font-size: 0.875rem;
    font-weight: 400;
    text-transform: uppercase;
    color: $pricing-header;
    margin: 0;
  }
}
