$open: 'Open Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;

$light-grey: #e8e8e8;
$dark-grey: #485563;
$text-grey: #29323c;
$after-grey: #525961;
$form-white: #f6f6f6;
$background-color: #f5f5f5;
$quotes: #abaeb2;
$team-hero: #f2f2f2;
$team-icons: #313233;
$pricing-border: #eee;
$pricing-header: #485563;
$white: #fff;
